/* full page */
body {
    margin: 0;
    min-height: 100vh;

    background-color: #0b0d0c;
    color: #87cc77;

    font-family: 'Lucida Console', 'Courier New', Courier, monospace;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* main */
main {
    width: 80%;
    max-width: 700px;
}

h1 {
    font-size: 3rem;
    margin: 10px 0 30px 0;
    letter-spacing: 2px;
    font-weight: normal;
}

p {
    font-size: 1.1rem;
    line-height: 1.7;
}

/* small system text */
.small {
    color: #6f8f6b;
    font-size: 0.8rem;
    letter-spacing: 2px;
}


/* status */
.status {
    margin-top: 40px;
    font-size: 0.9rem;
}

.cursor {
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}